.intro-text
  %h1
    Users
%table.table-borders
  %thead
    %tr
      %th
        Display Name
      %th
        Email
      %th
        Sign up Date
      %th
        Current Student
  %tbody
    = render users
