.intro-text
  %h1
    = user.display_name

- if user.charges.present?
  %table.table-borders
    %thead
      %tr
        %th
          Course
        %th
          Access Expires
        %th
          Transaction ID
        %th
          Amount Paid
    %tbody
      = render partial: 'active_course', collection: user.charges, as: :charge