button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  /*border: 1px outset $light-gray;*/
  /*box-shadow: 0 2px 4px darken(black, 100);*/
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
