.center
  %p.type
    Features of Everybody Code!
%ul.bullets
  %li.bullet.three-col-bullet
    .bullet-icon
      %i.fa.fa-film.fa-3x
    .bullet-content
      %h2 Fun Video Lessons
      %p
        Everybody Code! video lessons are short, easy to follow and make it easy
        to understand what the instructor is teaching. They're high-qualty, HD videos
        that you can watch from any device.
  %li.bullet.three-col-bullet
    .bullet-icon
      %i.fa.fa-smile-o.fa-3x
    .bullet-content
      %h2 Beginner Focused
      %p
        Unlike other programming courses, Everybody Code! is designed for people
        who have never programmed before. Our lessons walk you through everything
        you need to know, step by step.
  %li.bullet.three-col-bullet
    .bullet-icon
      %i.fa.fa-group.fa-3x
    .bullet-content
      %h2 Community
      %p
        Each lesson has a discussion area where you can ask the instructor questions
        as well as interact with other students. You also have access to your
        instructor through email. You are not alone! We're in this together.