.intro-text
  %h1
    $100,000 per year?
%p.type
  This isn't About Us &ndash; it's about YOU.
%article.type-system-serif
  %h2
    Escape your boring job. You control your own destiny!
  %h3
    Just a few years ago I was broke. I had just finished my military service and was flat broke. I had an expensive college degree but no job prospects. Getting interviews was difficult; landing a job was impossible. I waited tables and got stuck in the dead-end rat race. We’ve all been there! Finding no hope in working for tips, I moved to Asia to teach English. It was fun work, but $800 per month was no going to get me out of the rat race any faster!
  %h2
    It just took a spark!
  %p
    %span> In China, I met my future wife
    , Jessica. Together we had an idea to build a website for online therapy. With no money to hire developers, we were motivated to learn how to do it ourselves. That was in 2010. In just 2 years, our psychology startup was going reasonably well, however during that time, we learned something more valuable: how to take an idea sketched on a napkin and turn it into software. Incidentally, this was a skill people would pay me a lot of money to use.
  %h2
    Supply and demand in software
  %p
    %span> There are lots of “IT” people out there.
    However, in the skills that matter, there’s a massive shortage of software developers with even minimum skills. The Ruby programming language is especially hot. I learned Ruby and within hours of submitting my resume to a tech job site on a Friday evening, I had 4 calls from recruiters. This was with no professional programming experience whatsoever! By Monday afternoon, I had 5 interviews scheduled. By the end of the week, I had my first professional programming job with a starting salary of $95,000 per year, with full benefits! After 3 months, I left that first job to earn $120,000 per year from another company. The competition for my skills was fierce. Soon, I was able to start working remotely. I soon switched to software consulting, where my hourly rate starts at $95 per hour — full-time.
  %h2
    You can do it too!
  %p
    %span> Everybody Code! produces video learning courses
    that are designed for complete and TOTAL beginners. We don’t assume you know anything about your computer other than how to turn it on. If you’re reading this, then you already know enough to get started!
  %h2
    We remember the frustration.
  %p
    %span> Nearly every programming course out there starts of fairly simply,
    then quickly, without even realizing it, you’re lost. You give up and decide that you don’t have the brainpower to be a professional software developer. It isn’t your fault! The problem is that most programming courses are designed by people that might be great software developers, but lousy teachers. Jessica and I are not only software developers, but we’re also trained teachers. Jessica, for example, has a masters degree in both education and psychology.
    %span> You can learn this stuff! You can be successful.
    And we’re going to help you do it.
  %hr
    %p.author Brian Dear, November 2014
.center
  = link_to 'See our courses', :courses, class: 'btn'
.bigtop-pad