.intro-text
  %h1
    Privacy
%article.type-system-serif
  %h2
    We don't share.
  %p
    %span> We don't share your personal information.
  %p
    We will send you emails regarding your account, such as password reset requests, purchase confirmations, welcome emails. We may also send you emails about your course progress. We may also send you Everybody Code! announcements about new courses or resources that you might find helpful. You can easily unsubscribe to any Everybody Code! marketing emails. We respect your inbox and we certainly don't want to bother you!
  %h2
    Analytics
  %p
    %span> We collect usage data from our courses. We do not share or publish this information. It is intended to better understand how our users interact with our application so we can make it better. Your personally identifying information is never a part of this collection and analysis.
  %p
    For example, we're interested to know how long it takes for our users to complete a particular lesson. We also are interested in lessons users might visit frequently, because that tells us that maybe the lesson is difficult, or there is something in that lesson that might be especially useful. All data collected is to improve our courses and ultimately help you! We aren't Facebook, we're not trying to track your every move to sell you to advertisers. We're trying to provide the highest quality programming courses available. That's it!
  %hr
    %p.author Brian Dear, November 2014
.center
  = link_to 'See our courses', :courses, class: 'btn'
.bigtop-pad