.intro-text
  %h1
    Terms of Use
%article.type-system-serif
  %h2
    Membership Sharing
  %p
    %span> Your immediate household can use your account however, you are not permitted to share your account with anyone outside of your immediate household.
  %p
    This means that a husband and wife can share the same account if they want. Domestic partners can share the same account. Also, parent and a child who still lives at the same address can share the same account. A brother and sister living at the same house can also share an account. This does NOT mean that you can share your account with relatives not living at your address.
  %p
    %span> In short, if you're legally related and reside at the same address, you are allowed to share your account, however the responsibility for the use of the account is assumed by the owner of the account. You are not allowed to share your account unless specifically allowed by the above statements.
  %h2
    Reproduction of Course Materials
  %p
    %span> You are not allowed to download, record or reproduce any of the Everybody Code! course materials unless specifically authorized by the Everybody Code! team, in writing.
  %p
    If you are a teacher and would like to share the course contents in the classroom, please contact us for details. We'll actually make it easy for you to use these materials in the classroom! We do offer K-12 discounts for educators and special packages for classroom use. So please contact us -- we'd love to help, while keeping it affordable.
  %h2
    Refund Policy
  %p
    %span> We can't provide refunds except in the event of a technical issue with the Everybody Code! system.
  %p
    This means that all sales are final, however if there is a problem accessing the materials due to a technical issue with the Everybody Code! application, we will make it right -- either with a refund or some other solution that makes you happy.
  %p
    %span> If you aren't able to complete the course because of a technical problem with your computer, connection or other problem outside of Everybody Code!'s control, we will work with you to either extend your access period or provide you
    with a course credit for another Everybody Code! current or future course. However, we can not provide a refund if you sign up for a course for which you don't have the proper equipment (but we'll provide you with a credit to use on another current or future course.)
  %h2
    We won't ever release your personal information
  %p
    %span> Your personally identifying information, including your email address will never be shared with outside companies.
  %p
    We may use your information to help us improve our products, or to help us design new courses. For example, if we notice
    that most students are not completing a specifc lesson, we'll
    use that information to help us improve that lesson.
  %hr
    %p.author Brian Dear, November 2014
.center
  = link_to 'See our courses', :courses, class: 'btn'
.bigtop-pad