.intro-text
  %h1
    Transactions

%table.table-borders
  %thead
    %tr
      %th
        Customer
      %th
        Date
      %th
        Course
      %th
        Access Expires
      %th
        Guid
      %th
        Amount Charged
      %th
        Stripe Fee
      %th
        Status
  %tbody
    = render charges
