%footer.footer-2
  .footer-logo
    %img{:alt => "Logo image", :src => "https://eace9f72bdbdb48b3a1c-84b89a0ff7c53bcaecc8d06d99783f99.ssl.cf1.rackcdn.com/images/everybody_codes_logo_150px.png"}
  %ul
    %li
      &copy; 2014 Everybody Code!
  .footer-secondary-links
    %ul
      %li
        %a{:href => "javascript:void(0)"} Terms and Conditions
      %li
        %a{:href => "javascript:void(0)"} Privacy Policy
    %ul.footer-social
      %li
        %a{:href => "javascript:void(0)"}
          %i.fa.fa-youtube.fa-2x
      %li
        %a{:href => "javascript:void(0)"}
          %i.fa.fa-twitter.fa-2x
      %li
        %a{:href => "javascript:void(0)"}
          %i.fa.fa-facebook.fa-2x